<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                      "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Job Result</title>
</head>
<body>
    
    <a wicket:id="homeLnk" href="#" style="font-size: 12pt;"><img src="img/go-home.png" style="border: none;"/>Home</a> &nbsp; | &nbsp;
    <a wicket:id="manageLnk" href="#" style="font-size: 12pt;"><img src="img/preferences-system.png" style="border: none;"/>Manage Jobs</a>

    <br/>
    <br/>
    
    <span wicket:id="jobName" style="font-size:16pt;font-weight:bold;">My First Job</span><br/>
    <span wicket:id="jobStart" style="font-size: 12pt;">Run 2-12-2010 6:00am, Success</span><br/>
    <span>Console Output</span><br/>
    <div wicket:id="jobOutput" style="font-family:monospace; overflow:scroll; white-space:pre; font-size:10pt;">
    Starting job now...
    Processing item Widget 1235553... OK<br/>
    Processing item Widget 1334335... OK<br/>
    Processing item Widget 132729... OK<br/>
    Processing item Widget 1235553... OK<br/>
    Processing item Widget 1334335... OK<br/>
    Processing item Widget 132729... OK<br/>
    Processing item Widget 1235553... OK<br/>
    Processing item Widget 1334335... OK<br/>
    Processing item Widget 132729... OK<br/>
    Processing item Widget 1235553... OK<br/>
    Processing item Widget 1334335... OK<br/>
    Processing item Widget 132729... OK<br/>
    Processing item Widget 1235553... OK<br/>
    Processing item Widget 1334335... OK<br/>
    Processing item Widget 132729... OK<br/>
    Processing item Widget 1235553... OK<br/>
    Processing item Widget 1334335... OK<br/>
    Processing item Widget 132729... OK<br/>
    Processing item Widget 1235553... OK<br/>
    Processing item Widget 1334335... OK<br/>
    Processing item Widget 132729... OK<br/>
    </div>

    
</body>
</html>