USE [master]
GO
IF NOT EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'catalog')
BEGIN
CREATE DATABASE [catalog] ON  PRIMARY 
( NAME = N'catalog_Data', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL\data\catalog_Data.MDF' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'catalog_Log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL\data\catalog_Log.LDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
END

GO
EXEC dbo.sp_dbcmptlevel @dbname=N'catalog', @new_cmptlevel=80
GO
ALTER DATABASE [catalog] SET TORN_PAGE_DETECTION ON 
USE [catalog]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysusers WHERE name = N'store')
EXEC dbo.sp_grantdbaccess @loginame = N'store', @name_in_db = N'store'
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ADMIN_USER_PERMISSION_XREF]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ADMIN_USER_PERMISSION_XREF](
	[ADMIN_PERMISSION_ID] [numeric](19, 0) NOT NULL,
	[ADMIN_USER_ID] [numeric](19, 0) NOT NULL,
	[ADMIN_PERMISSION_ENABLED] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_PERMISSION_ID] ASC,
	[ADMIN_USER_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ZIP_CODE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ZIP_CODE](
	[ZIP_CODE_ID] [varchar](255) NOT NULL,
	[ZIP_CITY] [varchar](255) NULL,
	[ZIP_LATITUDE] [float] NULL,
	[ZIP_LONGITUDE] [float] NULL,
	[ZIP_STATE] [varchar](255) NULL,
	[ZIPCODE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ZIP_CODE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CATEGORY]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CATEGORY](
	[CATEGORY_ID] [numeric](19, 0) NOT NULL,
	[ACTIVE_END_DATE] [datetime] NULL,
	[ACTIVE_START_DATE] [datetime] NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[DISPLAY_TEMPLATE] [varchar](255) NULL,
	[LONG_DESCRIPTION] [varchar](255) NULL,
	[NAME] [varchar](255) NOT NULL,
	[URL] [varchar](255) NULL,
	[URL_KEY] [varchar](255) NULL,
	[DEFAULT_PARENT_CATEGORY_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CHALLENGE_QUESTION]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CHALLENGE_QUESTION](
	[QUESTION_ID] [numeric](19, 0) NOT NULL,
	[QUESTION] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QUESTION_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CODE_TYPES]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CODE_TYPES](
	[CODE_ID] [numeric](19, 0) NOT NULL,
	[CODE_TYPE] [varchar](255) NOT NULL,
	[CODE_DESC] [varchar](255) NULL,
	[CODE_KEY] [varchar](255) NOT NULL,
	[MODIFIABLE] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CONTENT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CONTENT](
	[ID] [numeric](19, 0) NOT NULL,
	[ACTIVE] [tinyint] NULL,
	[ACTIVE_END_DATE] [datetime] NULL,
	[ACTIVE_START_DATE] [datetime] NULL,
	[CONTENT_TYPE] [varchar](255) NULL,
	[DISPLAY_RULE] [varchar](255) NULL,
	[FILE_PATH_NAME] [varchar](255) NULL,
	[LANGUAGE] [varchar](255) NULL,
	[MAX_COUNT] [int] NULL,
	[priority] [int] NULL,
	[SANDBOX] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CONTENT_DETAILS]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CONTENT_DETAILS](
	[ID] [numeric](19, 0) NOT NULL,
	[CONTENT_HASH] [varchar](255) NULL,
	[XML_CONTENT] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_COUNTRY]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_COUNTRY](
	[ABBREVIATION] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ABBREVIATION] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CUSTOMER]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CUSTOMER](
	[CUSTOMER_ID] [numeric](19, 0) NOT NULL,
	[CREATED_BY] [numeric](19, 0) NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_UPDATED] [datetime] NULL,
	[UPDATED_BY] [numeric](19, 0) NULL,
	[CHALLENGE_ANSWER] [varchar](255) NULL,
	[CHALLENGE_QUESTION_ID] [numeric](19, 0) NULL,
	[EMAIL_ADDRESS] [varchar](255) NULL,
	[FIRST_NAME] [varchar](255) NULL,
	[LAST_NAME] [varchar](255) NULL,
	[PASSWORD] [varchar](255) NULL,
	[PASSWORD_CHANGE_REQUIRED] [tinyint] NULL,
	[RECEIVE_EMAIL] [tinyint] NULL,
	[IS_REGISTERED] [tinyint] NULL,
	[USER_NAME] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USER_NAME] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_EMAIL_TRACKING]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_EMAIL_TRACKING](
	[EMAIL_TRACKING_ID] [numeric](19, 0) NOT NULL,
	[DATE_SENT] [datetime] NULL,
	[EMAIL_ADDRESS] [varchar](255) NULL,
	[TYPE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMAIL_TRACKING_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ID_GENERATION]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ID_GENERATION](
	[ID_TYPE] [varchar](255) NOT NULL,
	[BATCH_SIZE] [numeric](19, 0) NOT NULL,
	[BATCH_START] [numeric](19, 0) NOT NULL,
	[version] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TYPE] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_MEDIA]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_MEDIA](
	[MEDIA_ID] [numeric](19, 0) NOT NULL,
	[LABEL] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[URL] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MEDIA_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_OFFER]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_OFFER](
	[OFFER_ID] [numeric](19, 0) NOT NULL,
	[APPLIES_WHEN_RULES] [varchar](255) NULL,
	[APPLIES_TO_RULES] [varchar](255) NULL,
	[APPLY_OFFER_TO_MARKED_ITEMS] [tinyint] NULL,
	[APPLY_TO_SALE_PRICE] [tinyint] NULL,
	[COMBINABLE_WITH_OTHER_OFFERS] [tinyint] NULL,
	[OFFER_DELIVERY_TYPE] [varchar](255) NOT NULL,
	[OFFER_DESCRIPTION] [varchar](255) NULL,
	[OFFER_DISCOUNT_TYPE] [varchar](255) NULL,
	[END_DATE] [datetime] NULL,
	[MAX_USES] [int] NULL,
	[OFFER_NAME] [varchar](255) NOT NULL,
	[OFFER_PRIORITY] [int] NULL,
	[STACKABLE] [tinyint] NULL,
	[START_DATE] [datetime] NULL,
	[TARGET_SYSTEM] [varchar](255) NULL,
	[OFFER_TYPE] [varchar](255) NOT NULL,
	[USES] [int] NULL,
	[OFFER_VALUE] [numeric](19, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OFFER_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_OFFER_INFO]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_OFFER_INFO](
	[OFFER_INFO_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OFFER_INFO_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PERSONAL_MESSAGE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PERSONAL_MESSAGE](
	[PERSONAL_MESSAGE_ID] [numeric](19, 0) NOT NULL,
	[MESSAGE] [varchar](255) NULL,
	[MESSAGE_FROM] [varchar](255) NULL,
	[MESSAGE_TO] [varchar](255) NULL,
	[OCCASION] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSONAL_MESSAGE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PHONE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PHONE](
	[PHONE_ID] [numeric](19, 0) NOT NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[IS_DEFAULT] [tinyint] NULL,
	[PHONE_NUMBER] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PHONE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_RATING_SUMMARY]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_RATING_SUMMARY](
	[RATING_SUMMARY_ID] [numeric](19, 0) NOT NULL,
	[AVERAGE_RATING] [float] NOT NULL,
	[ITEM_ID] [varchar](255) NOT NULL,
	[RATING_TYPE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RATING_SUMMARY_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ROLE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ROLE](
	[ROLE_ID] [numeric](19, 0) NOT NULL,
	[ROLE_NAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_SEARCH_INTERCEPT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_SEARCH_INTERCEPT](
	[SEARCH_INTERCEPT_ID] [numeric](19, 0) NOT NULL,
	[REDIRECT] [varchar](255) NULL,
	[TERM] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SEARCH_INTERCEPT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[SEQUENCE_GENERATOR]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[SEQUENCE_GENERATOR](
	[ID_NAME] [varchar](255) NULL,
	[ID_VAL] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_BANK_ACCOUNT_PAYMENT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_BANK_ACCOUNT_PAYMENT](
	[PAYMENT_ID] [numeric](19, 0) NOT NULL,
	[ACCOUNT_NUMBER] [varchar](255) NOT NULL,
	[REFERENCE_NUMBER] [varchar](255) NOT NULL,
	[ROUTING_NUMBER] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_SEARCH_SYNONYM]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_SEARCH_SYNONYM](
	[SEARCH_SYNONYM_ID] [numeric](19, 0) NOT NULL,
	[SYNONYMS] [varchar](255) NULL,
	[TERM] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SEARCH_SYNONYM_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CREDIT_CARD_PAYMENT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CREDIT_CARD_PAYMENT](
	[PAYMENT_ID] [numeric](19, 0) NOT NULL,
	[EXPIRATION_MONTH] [int] NOT NULL,
	[EXPIRATION_YEAR] [int] NOT NULL,
	[PAN] [varchar](255) NOT NULL,
	[REFERENCE_NUMBER] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_SHIPPING_RATE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_SHIPPING_RATE](
	[ID] [numeric](19, 0) NOT NULL,
	[BAND_RESULT_PCT] [int] NOT NULL,
	[BAND_RESULT_QTY] [numeric](19, 2) NOT NULL,
	[BAND_UNIT_QTY] [numeric](19, 2) NOT NULL,
	[FEE_BAND] [int] NOT NULL,
	[FEE_SUB_TYPE] [varchar](255) NULL,
	[FEE_TYPE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_GIFT_CARD_PAYMENT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_GIFT_CARD_PAYMENT](
	[PAYMENT_ID] [numeric](19, 0) NOT NULL,
	[PAN] [varchar](255) NOT NULL,
	[PIN] [varchar](255) NULL,
	[REFERENCE_NUMBER] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_SKU]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_SKU](
	[SKU_ID] [numeric](19, 0) NOT NULL,
	[ACTIVE_END_DATE] [datetime] NULL,
	[ACTIVE_START_DATE] [datetime] NULL,
	[AVAILABLE_FLAG] [char](1) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[DISCOUNTABLE_FLAG] [char](1) NULL,
	[LONG_DESCRIPTION] [varchar](4096) NULL,
	[NAME] [varchar](255) NOT NULL,
	[RETAIL_PRICE] [numeric](19, 2) NOT NULL,
	[SALE_PRICE] [numeric](19, 2) NULL,
	[TAXABLE_FLAG] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[SKU_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_SKU_AVAILABILITY]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_SKU_AVAILABILITY](
	[SKU_AVAILABILITY_ID] [numeric](19, 0) NOT NULL,
	[AVAILABILITY_DATE] [datetime] NULL,
	[AVAILABILITY_STATUS] [varchar](255) NULL,
	[LOCATION_ID] [numeric](19, 0) NULL,
	[QTY_ON_HAND] [int] NULL,
	[RESERVE_QTY] [int] NULL,
	[SKU_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SKU_AVAILABILITY_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ADMIN_PERMISSION]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ADMIN_PERMISSION](
	[ADMIN_PERMISSION_ID] [numeric](19, 0) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_PERMISSION_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_STORE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_STORE](
	[STORE_ID] [varchar](255) NOT NULL,
	[ADDRESS_1] [varchar](255) NULL,
	[ADDRESS_2] [varchar](255) NULL,
	[STORE_CITY] [varchar](255) NULL,
	[STORE_COUNTRY] [varchar](255) NULL,
	[LATITUDE] [float] NULL,
	[LONGITUDE] [float] NULL,
	[STORE_NAME] [varchar](255) NULL,
	[STORE_PHONE] [varchar](255) NULL,
	[STORE_STATE] [varchar](255) NULL,
	[STORE_ZIP] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[STORE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ADMIN_ROLE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ADMIN_ROLE](
	[ADMIN_ROLE_ID] [numeric](19, 0) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_ROLE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_TARGET_CONTENT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_TARGET_CONTENT](
	[TARGET_CONTENT_ID] [numeric](19, 0) NOT NULL,
	[CONTENT] [varchar](255) NULL,
	[CONTENT_NAME] [varchar](255) NOT NULL,
	[CONTENT_TYPE] [varchar](255) NOT NULL,
	[OFFLINE_DATE] [datetime] NULL,
	[ONLINE_DATE] [datetime] NULL,
	[PRIORITY] [int] NOT NULL,
	[URL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TARGET_CONTENT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_USER]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_USER](
	[USER_ID] [numeric](19, 0) NOT NULL,
	[CHALLENGE_ANSWER] [varchar](255) NULL,
	[CHALLENGE_QUESTION] [varchar](255) NULL,
	[EMAIL_ADDRESS] [varchar](255) NULL,
	[FIRST_NAME] [varchar](255) NULL,
	[LAST_NAME] [varchar](255) NULL,
	[PASSWORD] [varchar](255) NOT NULL,
	[PASSWORD_CHANGE_REQUIRED] [tinyint] NULL,
	[USER_NAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USER_NAME] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ADMIN_USER]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ADMIN_USER](
	[ADMIN_USER_ID] [numeric](19, 0) NOT NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[LOGIN] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[PASSWORD] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_USER_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PRODUCT_MEDIA_MAP]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PRODUCT_MEDIA_MAP](
	[BLC_PRODUCT_PRODUCT_ID] [numeric](19, 0) NOT NULL,
	[MEDIA_ID] [numeric](19, 0) NOT NULL,
	[MAP_KEY] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BLC_PRODUCT_PRODUCT_ID] ASC,
	[MAP_KEY] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PRODUCT_IMAGE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PRODUCT_IMAGE](
	[PRODUCT_ID] [numeric](19, 0) NOT NULL,
	[URL] [varchar](255) NULL,
	[NAME] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC,
	[NAME] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PRODUCT_UP_SALE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PRODUCT_UP_SALE](
	[UP_SALE_PRODUCT_ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[PROMOTION_MESSAGE] [varchar](255) NULL,
	[SEQUENCE] [numeric](19, 0) NULL,
	[PRODUCT_ID] [numeric](19, 0) NULL,
	[RELATED_SALE_PRODUCT_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[UP_SALE_PRODUCT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PRODUCT_ATTRIBUTE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PRODUCT_ATTRIBUTE](
	[PRODUCT_ATTRIBUTE_ID] [numeric](19, 0) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[SEARCHABLE] [tinyint] NULL,
	[VALUE] [varchar](255) NOT NULL,
	[PRODUCT_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ATTRIBUTE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PRODUCT_CROSS_SALE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PRODUCT_CROSS_SALE](
	[CROSS_SALE_PRODUCT_ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[PROMOTION_MESSAGE] [varchar](255) NULL,
	[SEQUENCE] [numeric](19, 0) NULL,
	[PRODUCT_ID] [numeric](19, 0) NOT NULL,
	[RELATED_SALE_PRODUCT_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CROSS_SALE_PRODUCT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PRODUCT_FEATURED]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PRODUCT_FEATURED](
	[FEATURED_PRODUCT_ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[PROMOTION_MESSAGE] [varchar](255) NULL,
	[SEQUENCE] [numeric](19, 0) NULL,
	[CATEGORY_ID] [numeric](19, 0) NULL,
	[PRODUCT_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[FEATURED_PRODUCT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PRODUCT_SKU_XREF]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PRODUCT_SKU_XREF](
	[PRODUCT_ID] [numeric](19, 0) NOT NULL,
	[SKU_ID] [numeric](19, 0) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_DISCRETE_ORDER_ITEM]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_DISCRETE_ORDER_ITEM](
	[ORDER_ITEM_ID] [numeric](19, 0) NOT NULL,
	[BUNDLE_ORDER_ITEM_ID] [numeric](19, 0) NULL,
	[PRODUCT_ID] [numeric](19, 0) NULL,
	[SKU_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEM_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PRODUCT_EXT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PRODUCT_EXT](
	[department] [int] NULL,
	[manufacturer_id] [numeric](19, 0) NULL,
	[uom] [varchar](5) NULL,
	[vendor_key] [numeric](19, 0) NULL,
	[vendor] [varchar](255) NULL,
	[PRODUCT_ID] [numeric](19, 0) NOT NULL,
 CONSTRAINT [PK__BLC_PRODUCT_EXT__5CD6CB2B] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CATEGORY_PRODUCT_XREF]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CATEGORY_PRODUCT_XREF](
	[DISPLAY_ORDER] [int] NULL,
	[CATEGORY_ID] [numeric](19, 0) NOT NULL,
	[PRODUCT_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC,
	[PRODUCT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ORDER_ITEM]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ORDER_ITEM](
	[ORDER_ITEM_ID] [numeric](19, 0) NOT NULL,
	[ORDER_ITEM_TYPE] [varchar](255) NULL,
	[PRICE] [numeric](19, 2) NULL,
	[QUANTITY] [int] NOT NULL,
	[RETAIL_PRICE] [numeric](19, 2) NULL,
	[SALE_PRICE] [numeric](19, 2) NULL,
	[CATEGORY_ID] [numeric](19, 0) NULL,
	[GIFT_WRAP_ITEM_ID] [numeric](19, 0) NULL,
	[ORDER_ID] [numeric](19, 0) NULL,
	[PERSONAL_MESSAGE_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEM_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CATEGORY_XREF]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CATEGORY_XREF](
	[DISPLAY_ORDER] [numeric](19, 0) NULL,
	[SUB_CATEGORY_ID] [numeric](19, 0) NOT NULL,
	[CATEGORY_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC,
	[SUB_CATEGORY_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PRODUCT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PRODUCT](
	[PRODUCT_ID] [numeric](19, 0) NOT NULL,
	[ACTIVE_END_DATE] [datetime] NULL,
	[ACTIVE_START_DATE] [datetime] NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[CONTAINER_SHAPE] [varchar](255) NULL,
	[DEPTH] [numeric](19, 2) NULL,
	[DIMENSION_UNIT_OF_MEASURE] [varchar](255) NULL,
	[GIRTH] [numeric](19, 2) NULL,
	[HEIGHT] [numeric](19, 2) NULL,
	[CONTAINER_SIZE] [varchar](255) NULL,
	[WIDTH] [numeric](19, 2) NULL,
	[IS_FEATURED_PRODUCT] [tinyint] NOT NULL,
	[IS_MACHINE_SORTABLE] [tinyint] NULL,
	[LONG_DESCRIPTION] [varchar](4096) NULL,
	[MANUFACTURE] [varchar](255) NULL,
	[MODEL] [varchar](255) NULL,
	[NAME] [varchar](255) NOT NULL,
	[WEIGHT] [numeric](19, 2) NULL,
	[WEIGHT_UNIT_OF_MEASURE] [varchar](255) NULL,
	[DEFAULT_CATEGORY_ID] [numeric](19, 0) NULL,
 CONSTRAINT [PK__BLC_PRODUCT__571DF1D5] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CATEGORY_IMAGE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CATEGORY_IMAGE](
	[category_id] [numeric](19, 0) NOT NULL,
	[url] [varchar](255) NULL,
	[name] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC,
	[name] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CATEGORY_MEDIA_MAP]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CATEGORY_MEDIA_MAP](
	[BLC_CATEGORY_CATEGORY_ID] [numeric](19, 0) NOT NULL,
	[MEDIA_ID] [numeric](19, 0) NOT NULL,
	[MAP_KEY] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BLC_CATEGORY_CATEGORY_ID] ASC,
	[MAP_KEY] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ADDRESS]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ADDRESS](
	[ADDRESS_ID] [numeric](19, 0) NOT NULL,
	[ADDRESS_LINE1] [varchar](255) NOT NULL,
	[ADDRESS_LINE2] [varchar](255) NULL,
	[CITY] [varchar](255) NOT NULL,
	[COMPANY_NAME] [varchar](255) NULL,
	[COUNTY] [varchar](255) NULL,
	[FIRST_NAME] [varchar](255) NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[IS_BUSINESS] [tinyint] NULL,
	[IS_DEFAULT] [tinyint] NULL,
	[LAST_NAME] [varchar](255) NULL,
	[POSTAL_CODE] [varchar](255) NOT NULL,
	[PRIMARY_PHONE] [varchar](255) NULL,
	[SECONDARY_PHONE] [varchar](255) NULL,
	[STANDARDIZED] [tinyint] NULL,
	[TOKENIZED_ADDRESS] [varchar](255) NULL,
	[VERIFICATION_LEVEL] [varchar](255) NULL,
	[ZIP_FOUR] [varchar](255) NULL,
	[COUNTRY] [varchar](255) NOT NULL,
	[STATE_PROV_REGION] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_STATE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_STATE](
	[ABBREVIATION] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[COUNTRY] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ABBREVIATION] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PAYMENT_LOG]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PAYMENT_LOG](
	[PAYMENT_LOG_ID] [numeric](19, 0) NOT NULL,
	[AMOUNT_PAID] [numeric](19, 2) NULL,
	[EXCEPTION_MESSAGE] [varchar](255) NULL,
	[LOG_TYPE] [varchar](255) NOT NULL,
	[ORDER_PAYMENT_ID] [numeric](19, 0) NULL,
	[PAYMENT_INFO_REFERENCE_NUMBER] [varchar](255) NULL,
	[TRANSACTION_SUCCESS] [tinyint] NULL,
	[TRANSACTION_TIMESTAMP] [datetime] NOT NULL,
	[TRANSACTION_TYPE] [varchar](255) NOT NULL,
	[USER_NAME] [varchar](255) NOT NULL,
	[CUSTOMER_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_LOG_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PAYMENT_RESPONSE_ITEM]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PAYMENT_RESPONSE_ITEM](
	[PAYMENT_RESPONSE_ITEM_ID] [numeric](19, 0) NOT NULL,
	[AMOUNT_PAID] [numeric](19, 2) NULL,
	[AUTHORIZATION_CODE] [varchar](255) NULL,
	[AVS_CODE] [varchar](255) NULL,
	[IMPLEMENTOR_RESPONSE_CODE] [varchar](255) NULL,
	[IMPLEMENTOR_RESPONSE_TEXT] [varchar](255) NULL,
	[MIDDLEWARE_RESPONSE_CODE] [varchar](255) NULL,
	[MIDDLEWARE_RESPONSE_TEXT] [varchar](255) NULL,
	[ORDER_PAYMENT_ID] [numeric](19, 0) NULL,
	[PAYMENT_INFO_REFERENCE_NUMBER] [varchar](255) NULL,
	[PROCESSOR_RESPONSE_CODE] [varchar](255) NULL,
	[PROCESSOR_RESPONSE_TEXT] [varchar](255) NULL,
	[REFERENCE_NUMBER] [varchar](255) NULL,
	[REMAINING_BALANCE] [numeric](19, 2) NULL,
	[TRANSACTION_ID] [varchar](255) NULL,
	[TRANSACTION_SUCCESS] [tinyint] NULL,
	[TRANSACTION_TIMESTAMP] [datetime] NOT NULL,
	[TRANSACTION_TYPE] [varchar](255) NOT NULL,
	[USER_NAME] [varchar](255) NOT NULL,
	[CUSTOMER_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_RESPONSE_ITEM_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_RATING_DETAIL]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_RATING_DETAIL](
	[RATING_DETAIL_ID] [numeric](19, 0) NOT NULL,
	[RATING] [float] NOT NULL,
	[RATING_SUBMITTED_DATE] [datetime] NOT NULL,
	[CUSTOMER_ID] [numeric](19, 0) NOT NULL,
	[RATING_SUMMARY_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RATING_DETAIL_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_REVIEW_FEEDBACK]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_REVIEW_FEEDBACK](
	[REVIEW_FEEDBACK_ID] [numeric](19, 0) NOT NULL,
	[IS_HELPFUL] [tinyint] NOT NULL,
	[CUSTOMER_ID] [numeric](19, 0) NOT NULL,
	[REVIEW_DETAIL_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REVIEW_FEEDBACK_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_REVIEW_DETAIL]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_REVIEW_DETAIL](
	[REVIEW_DETAIL_ID] [numeric](19, 0) NOT NULL,
	[HELPFUL_COUNT] [int] NOT NULL,
	[NOT_HELPFUL_COUNT] [int] NOT NULL,
	[REVIEW_SUBMITTED_DATE] [datetime] NOT NULL,
	[REVIEW_STATUS] [varchar](255) NOT NULL,
	[REVIEW_TEXT] [varchar](255) NOT NULL,
	[CUSTOMER_ID] [numeric](19, 0) NOT NULL,
	[RATING_DETAIL_ID] [numeric](19, 0) NULL,
	[RATING_SUMMARY_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REVIEW_DETAIL_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CUSTOMER_ADDRESS]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CUSTOMER_ADDRESS](
	[CUSTOMER_ADDRESS_ID] [numeric](19, 0) NOT NULL,
	[ADDRESS_NAME] [varchar](255) NULL,
	[ADDRESS_ID] [numeric](19, 0) NOT NULL,
	[CUSTOMER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ADDRESS_ID] ASC
) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CUSTOMER_ID] ASC,
	[ADDRESS_NAME] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CUSTOMER_OFFER_XREF]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CUSTOMER_OFFER_XREF](
	[CUSTOMER_OFFER_ID] [numeric](19, 0) NOT NULL,
	[CUSTOMER_ID] [numeric](19, 0) NOT NULL,
	[OFFER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_OFFER_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CUSTOMER_PHONE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CUSTOMER_PHONE](
	[CUSTOMER_PHONE_ID] [numeric](19, 0) NOT NULL,
	[PHONE_NAME] [varchar](255) NULL,
	[CUSTOMER_ID] [numeric](19, 0) NOT NULL,
	[PHONE_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_PHONE_ID] ASC
) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CUSTOMER_ID] ASC,
	[PHONE_NAME] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ORDER]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ORDER](
	[ORDER_ID] [numeric](19, 0) NOT NULL,
	[CREATED_BY] [numeric](19, 0) NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_UPDATED] [datetime] NULL,
	[UPDATED_BY] [numeric](19, 0) NULL,
	[CITY_TAX] [numeric](19, 2) NULL,
	[COUNTRY_TAX] [numeric](19, 2) NULL,
	[COUNTY_TAX] [numeric](19, 2) NULL,
	[EMAIL_ADDRESS] [varchar](255) NULL,
	[NAME] [varchar](255) NULL,
	[ORDER_NUMBER] [varchar](255) NULL,
	[STATE_TAX] [numeric](19, 2) NULL,
	[ORDER_STATUS] [varchar](255) NULL,
	[ORDER_SUBTOTAL] [numeric](19, 2) NULL,
	[SUBMIT_DATE] [datetime] NULL,
	[ORDER_TOTAL] [numeric](19, 2) NULL,
	[TOTAL_SHIPPING] [numeric](19, 2) NULL,
	[TOTAL_TAX] [numeric](19, 2) NULL,
	[CUSTOMER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CUSTOMER_ROLE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CUSTOMER_ROLE](
	[CUSTOMER_ROLE_ID] [numeric](19, 0) NOT NULL,
	[CUSTOMER_ID] [numeric](19, 0) NOT NULL,
	[ROLE_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ROLE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_EMAIL_TRACKING_CLICKS]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_EMAIL_TRACKING_CLICKS](
	[CLICK_ID] [numeric](19, 0) NOT NULL,
	[DATE_CLICKED] [datetime] NOT NULL,
	[DESTINATION_URI] [varchar](255) NULL,
	[QUERY_STRING] [varchar](255) NULL,
	[CUSTOMER_ID] [numeric](19, 0) NOT NULL,
	[EMAIL_TRACKING_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CLICK_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_GIFTWRAP_ORDER_ITEM]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_GIFTWRAP_ORDER_ITEM](
	[ORDER_ITEM_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEM_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_EMAIL_TRACKING_OPENS]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_EMAIL_TRACKING_OPENS](
	[OPEN_ID] [numeric](19, 0) NOT NULL,
	[DATE_OPENED] [datetime] NULL,
	[USER_AGENT] [varchar](255) NULL,
	[EMAIL_TRACKING_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OPEN_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_FG_ADJUSTMENT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_FG_ADJUSTMENT](
	[FG_ADJUSTMENT_ID] [numeric](19, 0) NOT NULL,
	[ADJUSTMENT_REASON] [varchar](255) NOT NULL,
	[ADJUSTMENT_VALUE] [numeric](19, 2) NOT NULL,
	[FULFILLMENT_GROUP_ID] [numeric](19, 0) NOT NULL,
	[OFFER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FG_ADJUSTMENT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_FULFILLMENT_GROUP_ITEM]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_FULFILLMENT_GROUP_ITEM](
	[FULFILLMENT_GROUP_ITEM_ID] [numeric](19, 0) NOT NULL,
	[PRICE] [numeric](19, 2) NULL,
	[QUANTITY] [int] NOT NULL,
	[RETAIL_PRICE] [numeric](19, 2) NULL,
	[SALE_PRICE] [numeric](19, 2) NULL,
	[STATUS] [varchar](255) NULL,
	[FULFILLMENT_GROUP_ID] [numeric](19, 0) NOT NULL,
	[ORDER_ITEM_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FULFILLMENT_GROUP_ITEM_ID] ASC
) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ORDER_ITEM_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CANDIDATE_FG_OFFER]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CANDIDATE_FG_OFFER](
	[CANDIDATE_FG_OFFER_ID] [numeric](19, 0) NOT NULL,
	[DISCOUNTED_PRICE] [numeric](19, 2) NULL,
	[FULFILLMENT_GROUP_ID] [numeric](19, 0) NOT NULL,
	[OFFER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CANDIDATE_FG_OFFER_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_SKU_MEDIA_MAP]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_SKU_MEDIA_MAP](
	[BLC_SKU_SKU_ID] [numeric](19, 0) NOT NULL,
	[MEDIA_ID] [numeric](19, 0) NOT NULL,
	[MAP_KEY] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BLC_SKU_SKU_ID] ASC,
	[MAP_KEY] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ADDITIONAL_OFFER_INFO]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ADDITIONAL_OFFER_INFO](
	[BLC_ORDER_ORDER_ID] [numeric](19, 0) NOT NULL,
	[OFFER_INFO_ID] [numeric](19, 0) NOT NULL,
	[OFFER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BLC_ORDER_ORDER_ID] ASC,
	[OFFER_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CANDIDATE_ITEM_OFFER]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CANDIDATE_ITEM_OFFER](
	[CANDIDATE_ITEM_OFFER_ID] [numeric](19, 0) NOT NULL,
	[DISCOUNTED_PRICE] [numeric](19, 2) NULL,
	[OFFER_ID] [numeric](19, 0) NOT NULL,
	[ORDER_ITEM_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CANDIDATE_ITEM_OFFER_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[OFFER_AUDIT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[OFFER_AUDIT](
	[OFFER_AUDIT_ID] [numeric](19, 0) NOT NULL,
	[CUSTOMER_ID] [numeric](19, 0) NULL,
	[OFFER_CODE_ID] [numeric](19, 0) NULL,
	[OFFER_TYPE] [varchar](255) NULL,
	[REDEEMED_DATE] [datetime] NULL,
	[RELATED_ID] [numeric](19, 0) NULL,
	[RELATED_PRICE] [numeric](19, 2) NULL,
	[RELATED_RETAIL_PRICE] [numeric](19, 2) NULL,
	[RELATED_SALE_PRICE] [numeric](19, 2) NULL,
	[OFFER_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OFFER_AUDIT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_CANDIDATE_ORDER_OFFER]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_CANDIDATE_ORDER_OFFER](
	[CANDIDATE_ORDER_OFFER_ID] [numeric](19, 0) NOT NULL,
	[DISCOUNTED_PRICE] [numeric](19, 2) NULL,
	[OFFER_ID] [numeric](19, 0) NOT NULL,
	[ORDER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CANDIDATE_ORDER_OFFER_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ORDER_ITEM_ADJUSTMENT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ORDER_ITEM_ADJUSTMENT](
	[ORDER_ITEM_ADJUSTMENT_ID] [numeric](19, 0) NOT NULL,
	[ADJUSTMENT_REASON] [varchar](255) NOT NULL,
	[ADJUSTMENT_VALUE] [numeric](19, 2) NOT NULL,
	[OFFER_ID] [numeric](19, 0) NOT NULL,
	[ORDER_ITEM_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEM_ADJUSTMENT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ORDER_ADJUSTMENT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ORDER_ADJUSTMENT](
	[ORDER_ADJUSTMENT_ID] [numeric](19, 0) NOT NULL,
	[ADJUSTMENT_REASON] [varchar](255) NOT NULL,
	[ADJUSTMENT_VALUE] [numeric](19, 2) NOT NULL,
	[OFFER_ID] [numeric](19, 0) NOT NULL,
	[ORDER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ADJUSTMENT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_OFFER_CODE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_OFFER_CODE](
	[OFFER_CODE_ID] [numeric](19, 0) NOT NULL,
	[END_DATE] [datetime] NULL,
	[MAX_USES] [int] NULL,
	[OFFER_CODE] [varchar](255) NOT NULL,
	[START_DATE] [datetime] NULL,
	[USES] [int] NULL,
	[OFFER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OFFER_CODE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ORDER_OFFER_CODE_XREF]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ORDER_OFFER_CODE_XREF](
	[ORDER_ID] [numeric](19, 0) NOT NULL,
	[OFFER_CODE_ID] [numeric](19, 0) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_OFFER_INFO_FIELDS]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_OFFER_INFO_FIELDS](
	[OFFER_INFO_FIELDS_ID] [numeric](19, 0) NOT NULL,
	[FIELD_VALUE] [varchar](255) NULL,
	[FIELD_NAME] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OFFER_INFO_FIELDS_ID] ASC,
	[FIELD_NAME] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ORDER_PAYMENT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ORDER_PAYMENT](
	[PAYMENT_ID] [numeric](19, 0) NOT NULL,
	[AMOUNT] [numeric](19, 2) NULL,
	[REFERENCE_NUMBER] [varchar](255) NULL,
	[PAYMENT_TYPE] [varchar](255) NOT NULL,
	[ADDRESS_ID] [numeric](19, 0) NULL,
	[ORDER_ID] [numeric](19, 0) NOT NULL,
	[PHONE_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_FULFILLMENT_GROUP]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_FULFILLMENT_GROUP](
	[FULFILLMENT_GROUP_ID] [numeric](19, 0) NOT NULL,
	[CITY_TAX] [numeric](19, 2) NULL,
	[COUNTRY_TAX] [numeric](19, 2) NULL,
	[COUNTY_TAX] [numeric](19, 2) NULL,
	[DELIVERY_INSTRUCTION] [varchar](255) NULL,
	[MERCHANDISE_TOTAL] [numeric](19, 2) NULL,
	[METHOD] [varchar](255) NULL,
	[IS_PRIMARY] [tinyint] NULL,
	[REFERENCE_NUMBER] [varchar](255) NULL,
	[RETAIL_PRICE] [numeric](19, 2) NULL,
	[SALE_PRICE] [numeric](19, 2) NULL,
	[PRICE] [numeric](19, 2) NULL,
	[STATE_TAX] [numeric](19, 2) NULL,
	[STATUS] [varchar](255) NULL,
	[TOTAL] [numeric](19, 2) NULL,
	[TOTAL_TAX] [numeric](19, 2) NULL,
	[TYPE] [varchar](255) NULL,
	[ADDRESS_ID] [numeric](19, 0) NULL,
	[ORDER_ID] [numeric](19, 0) NOT NULL,
	[PERSONAL_MESSAGE_ID] [numeric](19, 0) NULL,
	[PHONE_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[FULFILLMENT_GROUP_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_BUNDLE_ORDER_ITEM]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_BUNDLE_ORDER_ITEM](
	[NAME] [varchar](255) NULL,
	[ORDER_ITEM_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEM_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_PAYMENT_ADDITIONAL_FIELDS]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_PAYMENT_ADDITIONAL_FIELDS](
	[PAYMENT_RESPONSE_ITEM_ID] [numeric](19, 0) NOT NULL,
	[FIELD_VALUE] [varchar](255) NULL,
	[FIELD_NAME] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_RESPONSE_ITEM_ID] ASC,
	[FIELD_NAME] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_USER_ROLE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_USER_ROLE](
	[USER_ROLE_ID] [numeric](19, 0) NOT NULL,
	[ROLE_ID] [numeric](19, 0) NOT NULL,
	[USER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ROLE_ID] ASC
) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ROLE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_SKU_IMAGE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_SKU_IMAGE](
	[SKU_ID] [numeric](19, 0) NOT NULL,
	[URL] [varchar](255) NULL,
	[NAME] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SKU_ID] ASC,
	[NAME] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_BASE_PRICE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_BASE_PRICE](
	[BASE_PRICE_ID] [numeric](19, 0) NOT NULL,
	[AMOUNT] [numeric](19, 2) NOT NULL,
	[CREATED_BY] [numeric](19, 0) NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_UPDATED] [datetime] NULL,
	[UPDATED_BY] [numeric](19, 0) NULL,
	[END_DATE] [datetime] NULL,
	[START_DATE] [datetime] NULL,
	[SKU_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BASE_PRICE_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_SKU_ATTRIBUTE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_SKU_ATTRIBUTE](
	[SKU_ATTR_ID] [numeric](19, 0) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[SEARCHABLE] [tinyint] NULL,
	[VALUE] [varchar](255) NOT NULL,
	[SKU_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SKU_ATTR_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_SKU_EXT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_SKU_EXT](
	[alt_item] [varchar](255) NULL,
	[erp_item_source] [varchar](255) NULL,
	[item_num] [varchar](255) NULL,
	[sku] [int] NULL,
	[upc] [numeric](19, 0) NULL,
	[SKU_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SKU_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ADMIN_ROLE_PERMISSION_XREF]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ADMIN_ROLE_PERMISSION_XREF](
	[ADMIN_ROLE_ID] [numeric](19, 0) NOT NULL,
	[ADMIN_PERMISSION_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_ROLE_ID] ASC,
	[ADMIN_PERMISSION_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[BLC_ADMIN_USER_ROLE_XREF]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [store].[BLC_ADMIN_USER_ROLE_XREF](
	[ADMIN_ROLE_ID] [numeric](19, 0) NOT NULL,
	[ADMIN_USER_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_ROLE_ID] ASC,
	[ADMIN_USER_ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
USE [catalog]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK55F82D44102527A5]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK55F82D44102527A5] FOREIGN KEY([DEFAULT_PARENT_CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK55F82D442ED5555B]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK55F82D442ED5555B] FOREIGN KEY([DEFAULT_PARENT_CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKD5AE994B6232449F]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_MEDIA_MAP]  WITH CHECK ADD  CONSTRAINT [FKD5AE994B6232449F] FOREIGN KEY([BLC_PRODUCT_PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKD5AE994B7DFBE2D7]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_MEDIA_MAP]  WITH CHECK ADD  CONSTRAINT [FKD5AE994B7DFBE2D7] FOREIGN KEY([MEDIA_ID])
REFERENCES [store].[BLC_MEDIA] ([MEDIA_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKD5AE994BAA4D5E98]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_MEDIA_MAP]  WITH CHECK ADD  CONSTRAINT [FKD5AE994BAA4D5E98] FOREIGN KEY([BLC_PRODUCT_PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK5B3A1145A4D6A6A9]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK5B3A1145A4D6A6A9] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK5B3A1145ECF1C0A2]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK5B3A1145ECF1C0A2] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKF69054F5A4D6A6A9]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_UP_SALE]  WITH NOCHECK ADD  CONSTRAINT [FKF69054F5A4D6A6A9] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_UP_SALE] CHECK CONSTRAINT [FKF69054F5A4D6A6A9]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKF69054F5ECF1C0A2]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_UP_SALE]  WITH NOCHECK ADD  CONSTRAINT [FKF69054F5ECF1C0A2] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_UP_SALE] CHECK CONSTRAINT [FKF69054F5ECF1C0A2]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKF69054F5F0B86F86]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_UP_SALE]  WITH NOCHECK ADD  CONSTRAINT [FKF69054F5F0B86F86] FOREIGN KEY([RELATED_SALE_PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_UP_SALE] CHECK CONSTRAINT [FKF69054F5F0B86F86]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK56CE0586ECF1C0A2]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_ATTRIBUTE]  WITH NOCHECK ADD  CONSTRAINT [FK56CE0586ECF1C0A2] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_ATTRIBUTE] CHECK CONSTRAINT [FK56CE0586ECF1C0A2]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK8324FB3C995212C0]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_CROSS_SALE]  WITH NOCHECK ADD  CONSTRAINT [FK8324FB3C995212C0] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT_EXT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_CROSS_SALE] CHECK CONSTRAINT [FK8324FB3C995212C0]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK8324FB3C9D18C1A4]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_CROSS_SALE]  WITH NOCHECK ADD  CONSTRAINT [FK8324FB3C9D18C1A4] FOREIGN KEY([RELATED_SALE_PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT_EXT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_CROSS_SALE] CHECK CONSTRAINT [FK8324FB3C9D18C1A4]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK8324FB3CA4D6A6A9]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_CROSS_SALE]  WITH NOCHECK ADD  CONSTRAINT [FK8324FB3CA4D6A6A9] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_CROSS_SALE] CHECK CONSTRAINT [FK8324FB3CA4D6A6A9]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK8324FB3CECF1C0A2]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_CROSS_SALE]  WITH NOCHECK ADD  CONSTRAINT [FK8324FB3CECF1C0A2] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_CROSS_SALE] CHECK CONSTRAINT [FK8324FB3CECF1C0A2]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK8324FB3CF0B86F86]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_CROSS_SALE]  WITH NOCHECK ADD  CONSTRAINT [FK8324FB3CF0B86F86] FOREIGN KEY([RELATED_SALE_PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_CROSS_SALE] CHECK CONSTRAINT [FK8324FB3CF0B86F86]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK4C49FFE4254550FC]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_FEATURED]  WITH CHECK ADD  CONSTRAINT [FK4C49FFE4254550FC] FOREIGN KEY([CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK4C49FFE443F57EB2]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_FEATURED]  WITH CHECK ADD  CONSTRAINT [FK4C49FFE443F57EB2] FOREIGN KEY([CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK4C49FFE4ECF1C0A2]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_FEATURED]  WITH NOCHECK ADD  CONSTRAINT [FK4C49FFE4ECF1C0A2] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_FEATURED] CHECK CONSTRAINT [FK4C49FFE4ECF1C0A2]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKF2DBF6D31BB766E2]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_SKU_XREF]  WITH CHECK ADD  CONSTRAINT [FKF2DBF6D31BB766E2] FOREIGN KEY([SKU_ID])
REFERENCES [store].[BLC_SKU] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKF2DBF6D3325F5BE9]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_SKU_XREF]  WITH CHECK ADD  CONSTRAINT [FKF2DBF6D3325F5BE9] FOREIGN KEY([SKU_ID])
REFERENCES [store].[BLC_SKU] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKF2DBF6D34536D564]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_SKU_XREF]  WITH CHECK ADD  CONSTRAINT [FKF2DBF6D34536D564] FOREIGN KEY([SKU_ID])
REFERENCES [store].[BLC_SKU_EXT] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKF2DBF6D3995212C0]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_SKU_XREF]  WITH NOCHECK ADD  CONSTRAINT [FKF2DBF6D3995212C0] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT_EXT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_SKU_XREF] CHECK CONSTRAINT [FKF2DBF6D3995212C0]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKF2DBF6D3A4D6A6A9]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_SKU_XREF]  WITH NOCHECK ADD  CONSTRAINT [FKF2DBF6D3A4D6A6A9] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_SKU_XREF] CHECK CONSTRAINT [FKF2DBF6D3A4D6A6A9]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKF2DBF6D3ECF1C0A2]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_SKU_XREF]  WITH NOCHECK ADD  CONSTRAINT [FKF2DBF6D3ECF1C0A2] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_SKU_XREF] CHECK CONSTRAINT [FKF2DBF6D3ECF1C0A2]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKBC3A8A841BB766E2]') AND type = 'F')
ALTER TABLE [store].[BLC_DISCRETE_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FKBC3A8A841BB766E2] FOREIGN KEY([SKU_ID])
REFERENCES [store].[BLC_SKU] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKBC3A8A8428D186CA]') AND type = 'F')
ALTER TABLE [store].[BLC_DISCRETE_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FKBC3A8A8428D186CA] FOREIGN KEY([ORDER_ITEM_ID])
REFERENCES [store].[BLC_ORDER_ITEM] ([ORDER_ITEM_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKBC3A8A8473450E2B]') AND type = 'F')
ALTER TABLE [store].[BLC_DISCRETE_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FKBC3A8A8473450E2B] FOREIGN KEY([BUNDLE_ORDER_ITEM_ID])
REFERENCES [store].[BLC_BUNDLE_ORDER_ITEM] ([ORDER_ITEM_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKBC3A8A84ECF1C0A2]') AND type = 'F')
ALTER TABLE [store].[BLC_DISCRETE_ORDER_ITEM]  WITH NOCHECK ADD  CONSTRAINT [FKBC3A8A84ECF1C0A2] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_DISCRETE_ORDER_ITEM] CHECK CONSTRAINT [FKBC3A8A84ECF1C0A2]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKA71EE88BA4D6A6A9]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT_EXT]  WITH NOCHECK ADD  CONSTRAINT [FKA71EE88BA4D6A6A9] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT_EXT] CHECK CONSTRAINT [FKA71EE88BA4D6A6A9]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK635EB1A6254550FC]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_PRODUCT_XREF]  WITH CHECK ADD  CONSTRAINT [FK635EB1A6254550FC] FOREIGN KEY([CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK635EB1A643F57EB2]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_PRODUCT_XREF]  WITH CHECK ADD  CONSTRAINT [FK635EB1A643F57EB2] FOREIGN KEY([CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK635EB1A6995212C0]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_PRODUCT_XREF]  WITH NOCHECK ADD  CONSTRAINT [FK635EB1A6995212C0] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT_EXT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_CATEGORY_PRODUCT_XREF] CHECK CONSTRAINT [FK635EB1A6995212C0]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK635EB1A6A4D6A6A9]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_PRODUCT_XREF]  WITH NOCHECK ADD  CONSTRAINT [FK635EB1A6A4D6A6A9] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_CATEGORY_PRODUCT_XREF] CHECK CONSTRAINT [FK635EB1A6A4D6A6A9]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK635EB1A6ECF1C0A2]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_PRODUCT_XREF]  WITH NOCHECK ADD  CONSTRAINT [FK635EB1A6ECF1C0A2] FOREIGN KEY([PRODUCT_ID])
REFERENCES [store].[BLC_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [store].[BLC_CATEGORY_PRODUCT_XREF] CHECK CONSTRAINT [FK635EB1A6ECF1C0A2]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9A2E704A43F57EB2]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK9A2E704A43F57EB2] FOREIGN KEY([CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9A2E704A8E5AA98C]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK9A2E704A8E5AA98C] FOREIGN KEY([PERSONAL_MESSAGE_ID])
REFERENCES [store].[BLC_PERSONAL_MESSAGE] ([PERSONAL_MESSAGE_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9A2E704AEE29576D]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK9A2E704AEE29576D] FOREIGN KEY([ORDER_ID])
REFERENCES [store].[BLC_ORDER] ([ORDER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9A2E704AF5223FB]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK9A2E704AF5223FB] FOREIGN KEY([GIFT_WRAP_ITEM_ID])
REFERENCES [store].[BLC_GIFTWRAP_ORDER_ITEM] ([ORDER_ITEM_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKE8897336254550FC]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_XREF]  WITH CHECK ADD  CONSTRAINT [FKE8897336254550FC] FOREIGN KEY([CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKE889733643F57EB2]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_XREF]  WITH CHECK ADD  CONSTRAINT [FKE889733643F57EB2] FOREIGN KEY([CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKE88973364F83B33]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_XREF]  WITH CHECK ADD  CONSTRAINT [FKE88973364F83B33] FOREIGN KEY([SUB_CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKE8897336E6480D7D]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_XREF]  WITH CHECK ADD  CONSTRAINT [FKE8897336E6480D7D] FOREIGN KEY([SUB_CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK5B95B7C9D2959B4]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT]  WITH NOCHECK ADD  CONSTRAINT [FK5B95B7C9D2959B4] FOREIGN KEY([DEFAULT_CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT] CHECK CONSTRAINT [FK5B95B7C9D2959B4]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK5B95B7C9EE792BFE]') AND type = 'F')
ALTER TABLE [store].[BLC_PRODUCT]  WITH NOCHECK ADD  CONSTRAINT [FK5B95B7C9EE792BFE] FOREIGN KEY([DEFAULT_CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [store].[BLC_PRODUCT] CHECK CONSTRAINT [FK5B95B7C9EE792BFE]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK27CF3E80254550FC]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK27CF3E80254550FC] FOREIGN KEY([category_id])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK27CF3E8043F57EB2]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK27CF3E8043F57EB2] FOREIGN KEY([category_id])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKCD24B1065AAAC17]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_MEDIA_MAP]  WITH CHECK ADD  CONSTRAINT [FKCD24B1065AAAC17] FOREIGN KEY([BLC_CATEGORY_CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKCD24B1067DFBE2D7]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_MEDIA_MAP]  WITH CHECK ADD  CONSTRAINT [FKCD24B1067DFBE2D7] FOREIGN KEY([MEDIA_ID])
REFERENCES [store].[BLC_MEDIA] ([MEDIA_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKCD24B106E6FA7E61]') AND type = 'F')
ALTER TABLE [store].[BLC_CATEGORY_MEDIA_MAP]  WITH CHECK ADD  CONSTRAINT [FKCD24B106E6FA7E61] FOREIGN KEY([BLC_CATEGORY_CATEGORY_ID])
REFERENCES [store].[BLC_CATEGORY] ([CATEGORY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK299F86CE4220D125]') AND type = 'F')
ALTER TABLE [store].[BLC_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK299F86CE4220D125] FOREIGN KEY([STATE_PROV_REGION])
REFERENCES [store].[BLC_STATE] ([ABBREVIATION])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK299F86CE9C00F964]') AND type = 'F')
ALTER TABLE [store].[BLC_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK299F86CE9C00F964] FOREIGN KEY([COUNTRY])
REFERENCES [store].[BLC_COUNTRY] ([ABBREVIATION])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK8F94A1EB9C00F964]') AND type = 'F')
ALTER TABLE [store].[BLC_STATE]  WITH CHECK ADD  CONSTRAINT [FK8F94A1EB9C00F964] FOREIGN KEY([COUNTRY])
REFERENCES [store].[BLC_COUNTRY] ([ABBREVIATION])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKA43703456F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_PAYMENT_LOG]  WITH CHECK ADD  CONSTRAINT [FKA43703456F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK807B8F326F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_PAYMENT_RESPONSE_ITEM]  WITH CHECK ADD  CONSTRAINT [FK807B8F326F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKC9D04AD6A4586E9]') AND type = 'F')
ALTER TABLE [store].[BLC_RATING_DETAIL]  WITH CHECK ADD  CONSTRAINT [FKC9D04AD6A4586E9] FOREIGN KEY([RATING_SUMMARY_ID])
REFERENCES [store].[BLC_RATING_SUMMARY] ([RATING_SUMMARY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKC9D04AD6F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_RATING_DETAIL]  WITH CHECK ADD  CONSTRAINT [FKC9D04AD6F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK7CC929866F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_REVIEW_FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK7CC929866F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK7CC92986DEF9C41]') AND type = 'F')
ALTER TABLE [store].[BLC_REVIEW_FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK7CC92986DEF9C41] FOREIGN KEY([REVIEW_DETAIL_ID])
REFERENCES [store].[BLC_REVIEW_DETAIL] ([REVIEW_DETAIL_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9CD7E6926A4586E9]') AND type = 'F')
ALTER TABLE [store].[BLC_REVIEW_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK9CD7E6926A4586E9] FOREIGN KEY([RATING_SUMMARY_ID])
REFERENCES [store].[BLC_RATING_SUMMARY] ([RATING_SUMMARY_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9CD7E6926F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_REVIEW_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK9CD7E6926F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9CD7E692A5846C4B]') AND type = 'F')
ALTER TABLE [store].[BLC_REVIEW_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK9CD7E692A5846C4B] FOREIGN KEY([RATING_DETAIL_ID])
REFERENCES [store].[BLC_RATING_DETAIL] ([RATING_DETAIL_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK75B95AB96F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_CUSTOMER_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK75B95AB96F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK75B95AB9B8C36872]') AND type = 'F')
ALTER TABLE [store].[BLC_CUSTOMER_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK75B95AB9B8C36872] FOREIGN KEY([ADDRESS_ID])
REFERENCES [store].[BLC_ADDRESS] ([ADDRESS_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK685E80393A1EC85F]') AND type = 'F')
ALTER TABLE [store].[BLC_CUSTOMER_OFFER_XREF]  WITH CHECK ADD  CONSTRAINT [FK685E80393A1EC85F] FOREIGN KEY([OFFER_ID])
REFERENCES [store].[BLC_OFFER] ([OFFER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK685E80396F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_CUSTOMER_OFFER_XREF]  WITH CHECK ADD  CONSTRAINT [FK685E80396F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK3D28ED736F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_CUSTOMER_PHONE]  WITH CHECK ADD  CONSTRAINT [FK3D28ED736F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK3D28ED73E7394F32]') AND type = 'F')
ALTER TABLE [store].[BLC_CUSTOMER_PHONE]  WITH CHECK ADD  CONSTRAINT [FK3D28ED73E7394F32] FOREIGN KEY([PHONE_ID])
REFERENCES [store].[BLC_PHONE] ([PHONE_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK8F5B64A86F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER]  WITH CHECK ADD  CONSTRAINT [FK8F5B64A86F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK548EB7B12D06B542]') AND type = 'F')
ALTER TABLE [store].[BLC_CUSTOMER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK548EB7B12D06B542] FOREIGN KEY([ROLE_ID])
REFERENCES [store].[BLC_ROLE] ([ROLE_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK548EB7B16F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_CUSTOMER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK548EB7B16F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKFDF9F52A6F3A6442]') AND type = 'F')
ALTER TABLE [store].[BLC_EMAIL_TRACKING_CLICKS]  WITH CHECK ADD  CONSTRAINT [FKFDF9F52A6F3A6442] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [store].[BLC_CUSTOMER] ([CUSTOMER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKFDF9F52ABB893858]') AND type = 'F')
ALTER TABLE [store].[BLC_EMAIL_TRACKING_CLICKS]  WITH CHECK ADD  CONSTRAINT [FKFDF9F52ABB893858] FOREIGN KEY([EMAIL_TRACKING_ID])
REFERENCES [store].[BLC_EMAIL_TRACKING] ([EMAIL_TRACKING_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKE1BE1563C98E9951]') AND type = 'F')
ALTER TABLE [store].[BLC_GIFTWRAP_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FKE1BE1563C98E9951] FOREIGN KEY([ORDER_ITEM_ID])
REFERENCES [store].[BLC_DISCRETE_ORDER_ITEM] ([ORDER_ITEM_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKA5C3722ABB893858]') AND type = 'F')
ALTER TABLE [store].[BLC_EMAIL_TRACKING_OPENS]  WITH CHECK ADD  CONSTRAINT [FKA5C3722ABB893858] FOREIGN KEY([EMAIL_TRACKING_ID])
REFERENCES [store].[BLC_EMAIL_TRACKING] ([EMAIL_TRACKING_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK468C8F2566C0E0A]') AND type = 'F')
ALTER TABLE [store].[BLC_FG_ADJUSTMENT]  WITH CHECK ADD  CONSTRAINT [FK468C8F2566C0E0A] FOREIGN KEY([FULFILLMENT_GROUP_ID])
REFERENCES [store].[BLC_FULFILLMENT_GROUP] ([FULFILLMENT_GROUP_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK468C8F25909AE025]') AND type = 'F')
ALTER TABLE [store].[BLC_FG_ADJUSTMENT]  WITH CHECK ADD  CONSTRAINT [FK468C8F25909AE025] FOREIGN KEY([FULFILLMENT_GROUP_ID])
REFERENCES [store].[BLC_FG_ADJUSTMENT] ([FG_ADJUSTMENT_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK468C8F25EB4239E7]') AND type = 'F')
ALTER TABLE [store].[BLC_FG_ADJUSTMENT]  WITH CHECK ADD  CONSTRAINT [FK468C8F25EB4239E7] FOREIGN KEY([OFFER_ID])
REFERENCES [store].[BLC_FG_ADJUSTMENT] ([FG_ADJUSTMENT_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKEA74EBDA28D186CA]') AND type = 'F')
ALTER TABLE [store].[BLC_FULFILLMENT_GROUP_ITEM]  WITH CHECK ADD  CONSTRAINT [FKEA74EBDA28D186CA] FOREIGN KEY([ORDER_ITEM_ID])
REFERENCES [store].[BLC_ORDER_ITEM] ([ORDER_ITEM_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKEA74EBDA66C0E0A]') AND type = 'F')
ALTER TABLE [store].[BLC_FULFILLMENT_GROUP_ITEM]  WITH CHECK ADD  CONSTRAINT [FKEA74EBDA66C0E0A] FOREIGN KEY([FULFILLMENT_GROUP_ID])
REFERENCES [store].[BLC_FULFILLMENT_GROUP] ([FULFILLMENT_GROUP_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKCE785603A1EC85F]') AND type = 'F')
ALTER TABLE [store].[BLC_CANDIDATE_FG_OFFER]  WITH CHECK ADD  CONSTRAINT [FKCE785603A1EC85F] FOREIGN KEY([OFFER_ID])
REFERENCES [store].[BLC_OFFER] ([OFFER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKCE7856066C0E0A]') AND type = 'F')
ALTER TABLE [store].[BLC_CANDIDATE_FG_OFFER]  WITH CHECK ADD  CONSTRAINT [FKCE7856066C0E0A] FOREIGN KEY([FULFILLMENT_GROUP_ID])
REFERENCES [store].[BLC_FULFILLMENT_GROUP] ([FULFILLMENT_GROUP_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKEB4AECF93D6852EA]') AND type = 'F')
ALTER TABLE [store].[BLC_SKU_MEDIA_MAP]  WITH CHECK ADD  CONSTRAINT [FKEB4AECF93D6852EA] FOREIGN KEY([BLC_SKU_SKU_ID])
REFERENCES [store].[BLC_SKU] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKEB4AECF9541047F1]') AND type = 'F')
ALTER TABLE [store].[BLC_SKU_MEDIA_MAP]  WITH CHECK ADD  CONSTRAINT [FKEB4AECF9541047F1] FOREIGN KEY([BLC_SKU_SKU_ID])
REFERENCES [store].[BLC_SKU] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKEB4AECF97DFBE2D7]') AND type = 'F')
ALTER TABLE [store].[BLC_SKU_MEDIA_MAP]  WITH CHECK ADD  CONSTRAINT [FKEB4AECF97DFBE2D7] FOREIGN KEY([MEDIA_ID])
REFERENCES [store].[BLC_MEDIA] ([MEDIA_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK3BFDBD633A1EC85F]') AND type = 'F')
ALTER TABLE [store].[BLC_ADDITIONAL_OFFER_INFO]  WITH CHECK ADD  CONSTRAINT [FK3BFDBD633A1EC85F] FOREIGN KEY([OFFER_ID])
REFERENCES [store].[BLC_OFFER] ([OFFER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK3BFDBD6343B9E338]') AND type = 'F')
ALTER TABLE [store].[BLC_ADDITIONAL_OFFER_INFO]  WITH CHECK ADD  CONSTRAINT [FK3BFDBD6343B9E338] FOREIGN KEY([OFFER_INFO_ID])
REFERENCES [store].[BLC_OFFER_INFO] ([OFFER_INFO_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK3BFDBD637CBCCCE4]') AND type = 'F')
ALTER TABLE [store].[BLC_ADDITIONAL_OFFER_INFO]  WITH CHECK ADD  CONSTRAINT [FK3BFDBD637CBCCCE4] FOREIGN KEY([BLC_ORDER_ORDER_ID])
REFERENCES [store].[BLC_ORDER] ([ORDER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9EEE9B228D186CA]') AND type = 'F')
ALTER TABLE [store].[BLC_CANDIDATE_ITEM_OFFER]  WITH CHECK ADD  CONSTRAINT [FK9EEE9B228D186CA] FOREIGN KEY([ORDER_ITEM_ID])
REFERENCES [store].[BLC_ORDER_ITEM] ([ORDER_ITEM_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9EEE9B23A1EC85F]') AND type = 'F')
ALTER TABLE [store].[BLC_CANDIDATE_ITEM_OFFER]  WITH CHECK ADD  CONSTRAINT [FK9EEE9B23A1EC85F] FOREIGN KEY([OFFER_ID])
REFERENCES [store].[BLC_OFFER] ([OFFER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKE0A68BF83A1EC85F]') AND type = 'F')
ALTER TABLE [store].[OFFER_AUDIT]  WITH CHECK ADD  CONSTRAINT [FKE0A68BF83A1EC85F] FOREIGN KEY([OFFER_ID])
REFERENCES [store].[BLC_OFFER] ([OFFER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK618522893A1EC85F]') AND type = 'F')
ALTER TABLE [store].[BLC_CANDIDATE_ORDER_OFFER]  WITH CHECK ADD  CONSTRAINT [FK618522893A1EC85F] FOREIGN KEY([OFFER_ID])
REFERENCES [store].[BLC_OFFER] ([OFFER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK61852289EE29576D]') AND type = 'F')
ALTER TABLE [store].[BLC_CANDIDATE_ORDER_OFFER]  WITH CHECK ADD  CONSTRAINT [FK61852289EE29576D] FOREIGN KEY([ORDER_ID])
REFERENCES [store].[BLC_ORDER] ([ORDER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKA2658C8228D186CA]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_ITEM_ADJUSTMENT]  WITH CHECK ADD  CONSTRAINT [FKA2658C8228D186CA] FOREIGN KEY([ORDER_ITEM_ID])
REFERENCES [store].[BLC_ORDER_ITEM] ([ORDER_ITEM_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKA2658C823A1EC85F]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_ITEM_ADJUSTMENT]  WITH CHECK ADD  CONSTRAINT [FKA2658C823A1EC85F] FOREIGN KEY([OFFER_ID])
REFERENCES [store].[BLC_OFFER] ([OFFER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK1E92D1643A1EC85F]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_ADJUSTMENT]  WITH CHECK ADD  CONSTRAINT [FK1E92D1643A1EC85F] FOREIGN KEY([OFFER_ID])
REFERENCES [store].[BLC_OFFER] ([OFFER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK1E92D164EE29576D]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_ADJUSTMENT]  WITH CHECK ADD  CONSTRAINT [FK1E92D164EE29576D] FOREIGN KEY([ORDER_ID])
REFERENCES [store].[BLC_ORDER] ([ORDER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK76B8C8D63A1EC85F]') AND type = 'F')
ALTER TABLE [store].[BLC_OFFER_CODE]  WITH CHECK ADD  CONSTRAINT [FK76B8C8D63A1EC85F] FOREIGN KEY([OFFER_ID])
REFERENCES [store].[BLC_OFFER] ([OFFER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKFDF0E853C9912F58]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_OFFER_CODE_XREF]  WITH CHECK ADD  CONSTRAINT [FKFDF0E853C9912F58] FOREIGN KEY([OFFER_CODE_ID])
REFERENCES [store].[BLC_OFFER_CODE] ([OFFER_CODE_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKFDF0E853EE29576D]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_OFFER_CODE_XREF]  WITH CHECK ADD  CONSTRAINT [FKFDF0E853EE29576D] FOREIGN KEY([ORDER_ID])
REFERENCES [store].[BLC_ORDER] ([ORDER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKA9018861118E9222]') AND type = 'F')
ALTER TABLE [store].[BLC_OFFER_INFO_FIELDS]  WITH CHECK ADD  CONSTRAINT [FKA9018861118E9222] FOREIGN KEY([OFFER_INFO_FIELDS_ID])
REFERENCES [store].[BLC_OFFER_INFO] ([OFFER_INFO_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9517A14FB8C36872]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK9517A14FB8C36872] FOREIGN KEY([ADDRESS_ID])
REFERENCES [store].[BLC_ADDRESS] ([ADDRESS_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9517A14FE7394F32]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK9517A14FE7394F32] FOREIGN KEY([PHONE_ID])
REFERENCES [store].[BLC_PHONE] ([PHONE_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK9517A14FEE29576D]') AND type = 'F')
ALTER TABLE [store].[BLC_ORDER_PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK9517A14FEE29576D] FOREIGN KEY([ORDER_ID])
REFERENCES [store].[BLC_ORDER] ([ORDER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKC5B9EF188E5AA98C]') AND type = 'F')
ALTER TABLE [store].[BLC_FULFILLMENT_GROUP]  WITH CHECK ADD  CONSTRAINT [FKC5B9EF188E5AA98C] FOREIGN KEY([PERSONAL_MESSAGE_ID])
REFERENCES [store].[BLC_PERSONAL_MESSAGE] ([PERSONAL_MESSAGE_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKC5B9EF18B8C36872]') AND type = 'F')
ALTER TABLE [store].[BLC_FULFILLMENT_GROUP]  WITH CHECK ADD  CONSTRAINT [FKC5B9EF18B8C36872] FOREIGN KEY([ADDRESS_ID])
REFERENCES [store].[BLC_ADDRESS] ([ADDRESS_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKC5B9EF18E7394F32]') AND type = 'F')
ALTER TABLE [store].[BLC_FULFILLMENT_GROUP]  WITH CHECK ADD  CONSTRAINT [FKC5B9EF18E7394F32] FOREIGN KEY([PHONE_ID])
REFERENCES [store].[BLC_PHONE] ([PHONE_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKC5B9EF18EE29576D]') AND type = 'F')
ALTER TABLE [store].[BLC_FULFILLMENT_GROUP]  WITH CHECK ADD  CONSTRAINT [FKC5B9EF18EE29576D] FOREIGN KEY([ORDER_ID])
REFERENCES [store].[BLC_ORDER] ([ORDER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK489703DB28D186CA]') AND type = 'F')
ALTER TABLE [store].[BLC_BUNDLE_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK489703DB28D186CA] FOREIGN KEY([ORDER_ITEM_ID])
REFERENCES [store].[BLC_ORDER_ITEM] ([ORDER_ITEM_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKE350703267474937]') AND type = 'F')
ALTER TABLE [store].[BLC_PAYMENT_ADDITIONAL_FIELDS]  WITH CHECK ADD  CONSTRAINT [FKE350703267474937] FOREIGN KEY([PAYMENT_RESPONSE_ITEM_ID])
REFERENCES [store].[BLC_PAYMENT_RESPONSE_ITEM] ([PAYMENT_RESPONSE_ITEM_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK21B77CE42D06B542]') AND type = 'F')
ALTER TABLE [store].[BLC_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK21B77CE42D06B542] FOREIGN KEY([ROLE_ID])
REFERENCES [store].[BLC_ROLE] ([ROLE_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK21B77CE4D231C6A2]') AND type = 'F')
ALTER TABLE [store].[BLC_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK21B77CE4D231C6A2] FOREIGN KEY([USER_ID])
REFERENCES [store].[BLC_USER] ([USER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK1D7F6BF31BB766E2]') AND type = 'F')
ALTER TABLE [store].[BLC_SKU_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK1D7F6BF31BB766E2] FOREIGN KEY([SKU_ID])
REFERENCES [store].[BLC_SKU] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK1D7F6BF3325F5BE9]') AND type = 'F')
ALTER TABLE [store].[BLC_SKU_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK1D7F6BF3325F5BE9] FOREIGN KEY([SKU_ID])
REFERENCES [store].[BLC_SKU] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK857981011BB766E2]') AND type = 'F')
ALTER TABLE [store].[BLC_BASE_PRICE]  WITH CHECK ADD  CONSTRAINT [FK857981011BB766E2] FOREIGN KEY([SKU_ID])
REFERENCES [store].[BLC_SKU] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK6C6A59341BB766E2]') AND type = 'F')
ALTER TABLE [store].[BLC_SKU_ATTRIBUTE]  WITH CHECK ADD  CONSTRAINT [FK6C6A59341BB766E2] FOREIGN KEY([SKU_ID])
REFERENCES [store].[BLC_SKU] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK6C6A59344536D564]') AND type = 'F')
ALTER TABLE [store].[BLC_SKU_ATTRIBUTE]  WITH CHECK ADD  CONSTRAINT [FK6C6A59344536D564] FOREIGN KEY([SKU_ID])
REFERENCES [store].[BLC_SKU_EXT] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKEEB716B9325F5BE9]') AND type = 'F')
ALTER TABLE [store].[BLC_SKU_EXT]  WITH CHECK ADD  CONSTRAINT [FKEEB716B9325F5BE9] FOREIGN KEY([SKU_ID])
REFERENCES [store].[BLC_SKU] ([SKU_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK4A819D98B91B7CE0]') AND type = 'F')
ALTER TABLE [store].[BLC_ADMIN_ROLE_PERMISSION_XREF]  WITH CHECK ADD  CONSTRAINT [FK4A819D98B91B7CE0] FOREIGN KEY([ADMIN_ROLE_ID])
REFERENCES [store].[BLC_ADMIN_ROLE] ([ADMIN_ROLE_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FK4A819D98C8EFA940]') AND type = 'F')
ALTER TABLE [store].[BLC_ADMIN_ROLE_PERMISSION_XREF]  WITH CHECK ADD  CONSTRAINT [FK4A819D98C8EFA940] FOREIGN KEY([ADMIN_PERMISSION_ID])
REFERENCES [store].[BLC_ADMIN_PERMISSION] ([ADMIN_PERMISSION_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKFFD33A265E468E40]') AND type = 'F')
ALTER TABLE [store].[BLC_ADMIN_USER_ROLE_XREF]  WITH CHECK ADD  CONSTRAINT [FKFFD33A265E468E40] FOREIGN KEY([ADMIN_USER_ID])
REFERENCES [store].[BLC_ADMIN_USER] ([ADMIN_USER_ID])
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[store].[FKFFD33A26B91B7CE0]') AND type = 'F')
ALTER TABLE [store].[BLC_ADMIN_USER_ROLE_XREF]  WITH CHECK ADD  CONSTRAINT [FKFFD33A26B91B7CE0] FOREIGN KEY([ADMIN_ROLE_ID])
REFERENCES [store].[BLC_ADMIN_ROLE] ([ADMIN_ROLE_ID])
